<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
	<meta charset="UTF-8">
 	<title>Book Memo</title>
	<link th:href="@{/CSS/newpassword.css}" rel="stylesheet">
</head>

<body>
	<header>
			<h1>Book Memo</h1>
	</header>

	<div class="alert alert-danger d-flex align-items-center" role="alert" th:if="${errorMsg} != null">
		<svg class="bi flex-shrink-0 me-2" width="24" height="24">
			<use xlink:href="#exclamation-triangle-fill" />
		</svg>
		<div>
			<span th:text="${errorMsg}"></span>
		</div>
	</div>

    <h2>パスワード再設定</h2>

	<p>会員登録は<a th:href="@{/signup}">こちら</a></p>

	<form th:action="@{/login}" method="post" th:object="${loginForm}">
		<p class="info2">メールアドレス</p>
		<input type="email" id="type_info" placeholder="例）taro.yamada@example.com"/><br>
		<input type="submit" id="sent" value="送信">
	</form>

</body>
</html>