<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
	<meta charset="UTF-8">
 	<title>Book Memo</title>
	<link th:href="@{/CSS/signup.css}" rel="stylesheet">
</head>

<body>
	<header>
		<h2>ユーザー登録画面</h2>
	</header>
	<div class="alert d-flex align-items-center" th:classappend="|${isError ? 'alert-danger' : 'alert-primary'}|" role="alert" th:if="${message != null}">
		<svg class="bi flex-shrink-0 me-2" width="24" height="24">
			<use xlink:href="#exclamation-triangle-fill" th:if="${isError}" />
			<use xlink:href="#info-fill" th:unless="${isError}"/>
		</svg>
		<span th:text="${message}"></span>
	</div>

	<form th:action="@{/signup}" method="post" th:object="${signupForm}">
		<span class="text-danger" th:if="${#fields.hasErrors('password')}" th:errors="*{password}"></span>
		<p class="info_top">氏名（全角）</p>
		<input type="text" id="type_info" th:field="*{userName}" placeholder="名前を入力してください。"/>
		<p class="info2">メールアドレ</p>
		<input type="email" id="type_in" th:field="*{email}" placeholder="例）taro.yamada@example.com"/>
		<span class="text-danger" th:if="${#fields.hasErrors('email')}" th:errors="*{email}"></span>
		<p class="info3">パスワード </p>
		<input type="password" id="type_inf" th:field="*{password}" placeholder="パスワードを入力してください。"/><br>
		<input type="submit" id="sent" value="登録">
	</form>
</body>
</html>

